<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <%= image_tag(@adventure.picture_url, :width => 300) if @adventure.picture.present? %>
  </div>

  <div class="col-md-4">
    <p><strong>Name:</strong> <%= @adventure.name %></p>
    <p><strong>Description:</strong> <%=@adventure.description %></p>
    <p>
      <%= link_to 'Edit', edit_adventure_path(@adventure), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', @adventure, data: { confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
      <%= link_to 'Back', adventures_path, class: 'btn btn-primary' %>
    </p>
  </div>

</div>










